.map h1,
.map h1.fancy {
  font-size: 1.3em;
  line-height: 1.1em;
  margin-bottom: 0.5em; }
.map .tagline {
  letter-spacing: inherit;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5); }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }
